.place__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 75px;
}

@media (max-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 75px;
  }
}

@media (max-width: 768px) {
  .place__title {
    padding: 0;
    margin-left: 16px;
    font-size: 42px;
    line-height: 45px;
  }
}
