.photo-grid {
  margin: 103px 48px 83px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(248px, 1fr));
  gap: 16px;
}

@media (max-width: 1024px) {
  .photo-grid {
    margin: 92px 48px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    gap: 14px;
    margin: 0 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .photo-grid {
    column-gap: 14px;
    margin: 0;
  }
}
