.lead {
  color: #fff;
  align-items: center;
  min-width: 984px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 56px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1279px) and (max-width: 1024px) {
  .lead {
    min-width: 928px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 1023px) and (max-width: 768px) {
  .lead {
    min-width: 768px;
    padding-top: 48px;
  }
}

@media screen and (max-width: 767px) and (max-width: 320px) {
  .lead {
    min-width: 320px;
    padding-top: 45px;
  }
}
