.footer__link {
  margin-bottom: 0;
  margin-right: 18px;
}
.footer__link:last-of-type {
  margin-right: 0;
}

@media (max-width: 320px) {
  .footer__link {
    margin-bottom: 18px;
    margin-right: 0;
  }
}

.footer__link:last-of-type {
  margin-bottom: 48px;
}
