.footer__link {
  margin-bottom: 0;
  margin-right: 18px;
}
.footer__link:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 767px) and (max-width: 320px) {
  .footer__link {
    margin-bottom: 32px;
    margin-right: 0;
  }
}
