.lead__image-wrap {
  position: relative;
  width: 100%;
  max-width: 984px;
  height: auto;
  margin: 0 148px;
}

@media screen and (max-width: 1279px) and (max-width: 1024px) {
  .lead__image-wrap {
    max-width: 928px;
  }
}
