.intro {
  color: #fff;
  min-width: 288px;
  max-width: 690px;
  padding: 81px 0 0 47px;
}

@media screen and (max-width: 1279px) and (max-width: 1024px) {
  .intro {
    width: 100%;
    padding: 92px 48px 0;
  }
}

@media screen and (max-width: 1023px) and (max-width: 768px) {
  .intro {
    padding: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 767px) and (max-width: 320px) {
  .intro {
    padding: 66px 24px;
  }
}
