.cover__item {
  width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  position: relative;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__item {
    min-height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__item {
    min-height: 480px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__item {
    min-height: 200px;
  }
}
